/* Looks like everyone uses the box-sizing boarder box as default */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#div-header {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    align-self: center;
    background-color: #F5B47D;
    padding: 0 50px;
    margin: 4rem auto;
}

#equal {
    background-color: lightgrey;
    border: 0.5px solid black;
    cursor: pointer;
    text-align: center;
    width: 10rem;
}

#equal:hover {
    background-color: #F5B47D;
    transition: 0.5s ease-in-out;
}