/* Looks like everyone uses the box-sizing boarder box as default which should help with design*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: lightgoldenrodyellow;
}

#div-header {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    align-self: center;
    background-color: #F5B47D;
    padding: 0 50px;
    margin: 4rem auto;
}

.button {
    background-color: lightgrey;
    border: 0.5px solid black;
    cursor: pointer;
    text-align: center;
    width: 10rem;
}

.button:hover {
    background-color: #F5B47D;
    transition: 0.5s ease-in-out;
}

.div-form {
    background-color: #D2AE8F;
    width: fit-content;
}

#contract {
    width: height:
}

@media only screen and (Min-width: 600px) {
    #survey-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 40px;
    }
    .div-form {
        display: grid;
        align-self: center;
        width: fit-content;
        margin: 4rem auto;
    }
    .total-val {
        display: grid;
        gap: 10px;
    }
    #div-dropdown {
        display: grid;
    }
    .po-calc {
        display: grid;
        gap: 0px;
        /* in hindsight, I would have made this a separate row along with the requested total */
    }
    #div-check {
        display: grid;
    }
    #div-text {
        display: grid;
        align-self: start;
        grid-column: span 2;
    }
    #contract {
        width: 380px;
        height: 300px;
    }
}