/* Looks like everyone uses the box-sizing boarder box as default which should help with design*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#div-header {
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
    align-self: center;
    background-color: #F5B47D;
    padding: 0 50px;
    margin: 4rem auto;
}

.button {
    background-color: lightgrey;
    border: 0.5px solid black;
    cursor: pointer;
    text-align: center;
    width: 10rem;
}

.button:hover {
    background-color: #F5B47D;
    transition: 0.5s ease-in-out;
}

.div-form {
    background-color: #D2AE8F;
    width: fit-content;
}

@media only screen and (Min-width: 600px) {
    #survey-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}